@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Floristeria</h1>
    <img src="~/Img/3082948.jpg" width="1000" height="300"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Las Flores</h2>
        <img src="~/Img/Flor1.jpg" width="100" height="100" />
        <p>
            La flor es la estructura reproductiva característica de las plantas
            llamadas espermatofitas o fanerógamas. La función de una flor es producir
            semillas a través de la reproducción sexual.
        </p>
    </div>
</div>